@media screen and (max-width: 35rem) {
    #allstars {
        display: grid;
        grid-template-columns: 1fr;
    }

    .inner_header {
        width: 490px;
    }

    .nav a {
        padding: 0 12px;
    }
}