body {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 219);
    text-align: center;
}

header {
    background-color: rgb(226, 226, 219);
    color: black;
    padding: 2rem;
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    row-gap: 2px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    padding: 2px;
    
    
}

section {
    border: 1px solid black;
    border-radius: 30px;
    
}

img {
    width: 100%;
    max-width: 100px;
    border-radius: 30px;
    display: grid;
    
    
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}