body {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 219);
    text-align: center;
}

header {
    background-color: rgb(226, 226, 219);
    color: black;
    padding: 1rem;
    text-align: left;
}

header p {
    text-align: left;
}

header nav {

    background-color: #211166;
    border-radius: 5px;
    text-align: center;
}

.navbar ul {
    color: rgb(17, 2, 53);
    text-decoration: none;
    padding: .5rem;
    width: auto;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
}

.navbar a:hover {
    background-color: #323d49;
}

.navbar a {
    color: rgb(36, 128, 233);
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: sticky;
    z-index: 999;
    top: 0;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
}

.navbar__item {
    height: 50px;
}

.navbar__links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 5rem;
    height: 100%;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    row-gap: 2px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    padding: 2px;

}

.title {
    color: white;
    position: absolute;
    top: 110px;
    left: 1100px;
}

section {
    border: 1px solid black;
    border-radius: 30px;
}

img {
    width: 100%;
    max-width: 100px;
    border-radius: 30px;
    display: grid;
}

.hero button {
    position: absolute;
    top: 500px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: blue;
    font-size: 16px;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    margin: auto;
    border: 2px solid blue;
}

button:hover {
    background-color: #323d49;
}

h2 {
    text-align: center;
}

.home {
    display: flex;
    padding: 10px;
    margin: auto;
    max-width: 900px;
}

p {
    text-align: center;
}

footer {
    height: 5vh;
    max-width: 900px;
}

.section1 {
    display: flex;
    border: none;
    justify-content: start;
    padding: 10px;
    position: absolute;
    left: 17%;
    margin: auto;

}

.section2 {
    display: flex;
    border: none;
    justify-content: center;
    position: absolute;
    left: 43%;
    padding: 20px;
    margin: auto;

}

.section3 {
    display: flex;
    border: none;
    justify-content: end;
    padding: 20px;
    margin: auto;
    position: absolute;
    left: 55%;
    margin: auto;

}

.sociallinks {
    width: 40px;
}

.hero img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    row-gap: 2px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    padding: 2px;
}

.weather_container {
    display: flex;
    justify-content: center;
    height: 50vh;
    background-color: rgb(226, 226, 219);
}

.weather_section1 {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    padding-left: 50px;
    height: 90%;
    width: 25%;
    opacity: 0.5;
}

.ws1_top {
    padding-right: 50px;
}

.ws2_top {
    padding-right: 50px;
}

.weather_section2 {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    padding-left: 50px;
    height: 90%;
    width: 25%;
    opacity: 0.5;
    text-align: left;
    font-weight: bolder;
    color: black;
}

.joinform label,
input,
select,
textarea,
button {
    display: flex;
}

.joinform button {
    position: relative;
    top: 100px;
    padding: 5px;
    margin: auto;
}

.joinform fieldset {
    position: relative;
    top: 350px;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: 5px;
    border-radius: 10px;
    border: navy solid 2px;
    background-color: rgb(36, 128, 233, 0.7);
    width: 400px;
    height: 60vh;
    padding: 30px;

}

.joinform input {
    color: #fff0f0;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    background-color: whitesmoke;
    border-color: black;
}

.membership {
    position: relative;
    left: 1000px;
    bottom: 690px;
    max-width: 500px;
    height: 63vh;
    background: rgb(226, 226, 219);
    padding: .6rem;
    text-align: center;
}

main {
    height: 90vh;
}

#np-card,
#bronze-card,
#silver-card,
#gold-card {
    display: grid;
    border: navy solid 2px;
    gap: 10px;
    background-color: whitesmoke;
}

#fname, #lname, #title, #email, #number, #org {
    color: black;
}

h1 {
    animation-duration: 1s;
    animation-name: slide-in;
  }

  @keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }


@media screen and (max-width: 900px) {
    
    body {
        margin: 0;
        padding: 0;
    }

    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 50%;
        max-width: 900px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 50%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.3s ease;
        height: 50vh;
        z-index: -1;

    }

    .navbar__menu.active {
        background-color: #211166;
        top: 100%;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 99;
        height: 10vh;
        font-size: 1.5rem;
        width: 500px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 50%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }


    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    main {
        height: 150vh;
        
    }

    .membership {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        row-gap: 2px;
        padding: 20px;
        width: 10%;
        max-width: 500px;
        left: 150px;
        bottom: -10px;
        background-color: white;
        border-radius: 10px;
        background: rgb(226, 226, 219);
    }
}

@media screen and (max-width: 600px) {

    .home {
        padding-left: 50px;
    }

    .navbar__menu.active {
        background-color: #211166;
        top: 100%;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 99;
        height: 8vh;
        font-size: .8rem;
        width: 400px;
    }

    .navbar__links {
        text-align: left;
        padding: 1rem;
        width: 50%;
        display: table;
    }

    .section1 {
        display: flex;
        border: none;
        justify-content: start;
        padding: 10px;
        position: absolute;
        left: 5%;
        margin: auto;

    }

    .joinform fieldset {
        position: relative;
        top: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 5px;
        border-radius: 10px;
        border: navy solid 2px;
        background-color: rgb(36, 128, 233, 0.7);
        width: 400px;
        height: 60vh;
        padding: 30px;
    }

    .joinform button {
        position: relative;
        top: 70px;
        padding: 5px;
        margin: auto;
    }

    .membership {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        row-gap: 2px;
        padding: 20px;
        width: 10%;
        max-width: 500px;
        left: 50px;
        bottom: -10px;
        background-color: white;
        border-radius: 10px;
        background: rgb(226, 226, 219);
    }
}